{% extends "base.html" %}

{% block content %}
<div id="startform" class="row"><div class="col-lg-12">
    <div class="jumbotron">
        <h1>Search for a URL</h1>
        <form class="form-inline">
            <input type="text" placeholder="http://example.com/">
            <button type="submit" class="btn">Search</button><br>
        </form>
    </div>
</div></div>

<div class="row">
    <div class="col-lg-12">
        <p>Hello World this is a simple flask site.</p>
    </div>
</div>
{% endblock %}