{% extends "base.html" %}

{% block content %}
<div id="startform" class="row"><div class="span12">
    <div class="hero-unit">
        <h1>Search for a URL</h1>
        <form class="url-search form-search">
            <input type="text" class="input-large" placeholder="http://example.com/">
            <button type="submit" class="btn">Search</button><br>
        </form>
    </div>
</div></div>

<div class="row">
    <div class="span12">
        <p>Hello World this is a simple flask site.</p>
    </div>
</div>
{% endblock %}